{{> head}}
{{> navbar}}
<main class="page">
   <div class="wrapper">
      {{#if @customHTML.beforePage}}
         <div class="banner banner--before-content">
            {{{@customHTML.beforePage }}}
         </div>
      {{/if}}
      {{#page}}
         <div class="content">
            <div class="content__header">
               <h1 class="content__title">
                  {{title}}
               </h1>
            </div>

            {{#featuredImage}}
               {{#if url}}
                  <figure class="content__featured-image">
                     <img
                        src="{{url}}"
                        {{#if @config.site.responsiveImages}}
                           {{responsiveImageAttributes 'featuredImage' srcset sizes}}
                        {{/if}}
                        {{ lazyload "eager" }}
                        height="{{height}}"
                        width="{{width}}"
                        alt="{{alt}}">

                     {{#checkIfAny caption credits}}
                        <figcaption>
                           {{caption}}
                           {{credits}}
                        </figcaption>
                     {{/checkIfAny}}
                  </figure>
               {{/if}}
            {{/featuredImage}}
            <div class="page__entry">
               {{{text}}}
            </div>
         </div>

         {{#if @config.page.displayChildPages}}
            {{#if subpages}}
               <div class="subpages">
                  <h2 class="subpages__title">{{ translate 'page.childPages' }}</h2>
                  <ul class="subpages__list">
                     {{#each subpages}}
                        {{#getPage @this}}
                           <li>
                              <a href="{{url}}">{{title}}</a>
                              {{#if subpages}}
                              <ul>
                                 {{> subpages-list}}
                              </ul>
                              {{/if}}
                           </li>
                        {{/getPage}}
                     {{/each}}
                  </ul>
               </div>
            {{/if}}
         {{/if}}
      {{/page}}

      {{#if @customHTML.afterPage}}
         <div class="banner banner--after-content">
            {{{@customHTML.afterPage}}}
         </div>
      {{/if}}
   </div>

</main>
{{> footer}}
